
html,body {
    padding:0;
    margin:0;
    height:100%;
    overflow: hidden;
}

body {
    height: 100vh;
}

#main-container {
    width: 100vw;
    height: 100vh;
}

#show-editor {
    z-index: 20;
    position: fixed;
    top: -200px;
    right: 20px;
    opacity: 0;
    background-color: #ccc;
    transition: all 0.5s allow-discrete;
}

body.full-width #show-editor {
    top: 20px;
    right: 20px;
    opacity: 1;
    transition: all 0.5s allow-discrete;
}

#show-editor:hover {
    background-color: #ddd;
}

pre {
    display: none;
}

#diagram-container {
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    margin: 0;
    overflow: auto;
    background-color: #555;
    transition: all 0.5s allow-discrete;
}

body.full-width #diagram-container {
    width: 100%;
}

#table {
    display: table;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
    overflow: hidden;

}

#editor-container {
    z-index: 5;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*  menu */

.navbar {
    flex: none;
    display: flex;
    flex-direction: row;
    background-color: #ccc;
    color: #333;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown > a {
  color: #333;
  background-color: none;
  padding: 8px;
  font-size: 12px;
  margin: 0px;
  border: none;
  display: block;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ccc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 8px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

hr {
  border: 2px solid #bbb;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:not(.no-hover):hover .dropdown-content {display: block;}

.dropdown:not(.no-hover):hover .dropbtn {background-color: #ddd;}

#editor {
    flex: 1;
    overflow: hidden;
}

/*
#editor.full-width {
    position: relative;
    top: 100vh;
}
*/
.cm-editor {
    height: 100%;
}
